/* You can add global styles to this file, and also import other style files */
@import '~mdi/css/materialdesignicons.min.css';
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  background-color: #F5F5F5;
}

md-card {
  margin: 1rem;
}

@media (min-width: 768px) {
  .space-filler {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .space-filler {
    flex: 1 1 auto;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.w100 {
  width: 100%;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}


.logo {
  width: 3.14rem;
}
